@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Kumbh+Sans&family=League+Spartan:wght@700&family=Orbitron&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300&family=Raleway:wght@100&family=Roboto:ital,wght@0,400;1,700&display=swap');



*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Kumbh Sans', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
    transition: .3s linear
    ;
}
/* these are the themes */
:root{
    --main-bg-color:hsl(0, 0%, 98%);
    --box-bg-color:hsl(0, 0%, 98%);
    --main-text-color:rgb(30, 29, 29);

    
    --bg-image:url('images/bg-desktop-light.jpg')
}

.dark{
     --main-bg-color:hsl(235, 21%, 11%);
    --box-bg-color:hsl(235, 24%, 19%);
    --main-text-color:rgb(214, 204, 204);

    --bg-image:url('images/bg-desktop-dark.jpg')
    
}

/* here we have usability classes */
.pointer{
    cursor: pointer;
}

.flex{
    display: flex;
}

.hide{
    display: none;
}
h1{
    color: var(--main-text-color);
}
.circles{
    display: none;
    height: 30px;
    width: 30px;
    border: .5px solid  blue;
    border-radius: 50%;
}

.tick img{
    width:15px;
}
.tick{
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: linear-gradient(blue,white);
   height: 100%;
   width: 100%;
   border-radius: 50%;
  

}
.tick.active{
    display: none;
}

p{
    color: var(--main-text-color);
    font-size: 18px;
}

.paragraph.red{
    color: red;
}

/* the code of the header starts from here */
header{
    background-image: var(--bg-image);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 50px;
}

.icon-top-box{
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main-top-box{
    width :700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.remove{
    width: 30px;
    margin-left: 100px;
    cursor: pointer;
}





.text-input{

    align-items: center;
    display: flex;
    gap: 15px;
    z-index: 3;
    width: 100%;
    background-color: var(--box-bg-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px;
}

.text-input input{
    color: var(--main-text-color);
    width: 100%;
    height: 100%;
    font-size: 18px;
    background-color: var(--box-bg-color);
    border: none;

}
.text-input input:focus{
    outline: none;
}







/* the code of the main body starts from here */
.main-body{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 100%;
height: 100%;
gap: -10px;
}

.list-container{
   
    overflow-x: hidden;
    overflow: scroll;
    position: relative;
    height:300px;
    background-color: var(--box-bg-color);
    width: 700px;
    border-radius: 5px;
    top: -30px;
    box-shadow: 0px 0px 200px;
   
    
}
.tohide{
    display: none;
    
}
.tohide.hide{
    display: none;
}

.list-container::-webkit-scrollbar {
    display: none;
  }

.list-box{
    display: flex;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid grey;
    transition: background-color 0.3s;
}

.list-box.dragged-over {
    background-color: rgba(0, 0, 255, 0.1);
  }


.list-box div{
    display: flex;
    gap: 10px;
    align-items: center;
}
footer{
    z-index: 1;
margin-inline: auto;
    background-color: var(--box-bg-color);
display: flex;
justify-content: space-around;
align-self: end;
padding: 20px;
width: 700px;
border-radius: 5px;
box-shadow: 0px 0px 200px;
}
footer div{
   
    gap: 5px;
    display: flex;
    
}
